amqp==5.1.1
arrow==1.2.3
asgiref==3.7.2
billiard==4.1.0
celery==5.3.1
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.2.0
cron-descriptor==1.4.0
Django==4.2.3
django-celery-beat==2.5.0
django-timezone-field==5.1
gunicorn==21.2.0
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.3
WhiteNoise==6.5.0