{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'puckpuzzle/output.css' %}">
    <link rel="stylesheet" href="{% static 'puckpuzzle/style.css' %}">
    <title>{% block title %}PuckPuzzle{% endblock %}</title>
</head>

<body>
    <!-- Main container -->
    <div class="flex flex-col min-h-screen">

        <!-- Header container -->
        <div class="flex flex-row justify-between bg-black text-white">
            <div class="flex items-center m-3 space-x-3">
                <img src="../../static/puckpuzzle/images/favicon.jpg" class="w-12 h-12 invert" alt="PuckPuzzle Logo">
                <h1 class="text-3xl cursor-default">PuckPuzzle</h1>
            </div>
            <div class="flex items-center m-3">
                <nav class="text-xl space-x-6">
                    <a id="howtoplay" class="hover:text-orange-500 cursor-pointer">How To Play</a>
                </nav>
            </div>
        </div>

        <!-- How to play modal -->
        <div id="my-modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
            <div class="flex justify-center items-center min-h-screen text-center">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                <div id="mybox" class="bg-white transform p-10">
                    <div>
                        <h1 class="text-xl font-bold text-black" id="modal-title">
                            Welcome to PuckPuzzle! Here are some rules.
                        </h1>
                    </div>
                    <div>
                        <ul class="list-disc text-left">
                            <li>Guesses cannot be reversed.</li>
                            <li>Every guess counts as a shot.</li>
                            <li>Choose a past or present NHL player who has played for the team / completed the accolade
                                in the corresponding row and column.</li>
                            <li>For the accolades column, the answer will still be correct if the player completed the
                                accolade with a different team than in the corresponding row.</li>
                            <li>A new game will be available every day!</li>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <button type="button" id="howtoplayclose"
                            class="w-full rounded-md border border-slate-300 px-4 py-2 bg-white text-black font-medium hover:invert duration-200">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Guessing modal -->
        <div id="guess-modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
            <div class="flex justify-center items-center min-h-screen">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity duration-200"></div>
                <div id="guessbox" class="bg-white text-center transform p-10 max-h-3/4 w-1/2">
                    <div>
                        <h1 class="text-xl font-bold text-black" id="modal-title">
                            Make your guess here.
                        </h1>
                    </div>
                    <div class="mt-5">
                        <input type="text" id="search" placeholder="Search for a player..."
                            class="w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-black font-medium"
                            autocomplete="off" autocorrect="off" spellcheck="false">
                    </div>
                    <div class="mt-5 overflow-auto max-h-56" id="results">
                    </div>
                    <div class="mt-5">
                        <button type="button" id="guessclose"
                            class="w-full border border-slate-300 rounded-md px-4 py-2 bg-white text-black font-medium hover:invert duration-200">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Game over modal -->
        <div id="gameover-modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
            <div class="flex justify-center items-center min-h-screen text-center">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                <div id="gameoverbox" class="bg-white transform p-10">
                    <div>
                        <h1 class="text-xl font-bold text-black" id="modal-title">
                            Game Over
                        </h1>
                    </div>
                    <div id="finalscore" class="flex flex-col mt-5">
                        <p class="text-lg">Final Score:</p>
                        <p class="text-2xl font-bold"></p>
                    </div>
                    <div id="result-grid" class="grid grid-cols-3 grid-rows-3 gap-2 w-52 h-52 mt-5">
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                        <div class="bg-slate-300 rounded-xl"></div>
                    </div>
                    <div class="mt-5">
                        <button type="button" id="gameoverclose"
                            class="w-full rounded-md border border-slate-300 px-4 py-2 bg-white text-black font-medium hover:invert duration-200">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main grid container -->
        <div class="grid grid-cols-4 grid-rows-4 text-center self-center">
            <div class="flex flex-col justify-center items-center w-36 h-36 overflow-hidden">
                <div class="text-2xl font-bold">
                    <h1>Shots left:</h1>
                </div>
                <div class="text-2xl">
                    <p id="score"></p>
                </div>
            </div>
            <div class="flex justify-center items-center w-36 h-36 overflow-hidden">
                <img src="{% static 'puckpuzzle/images/logos/'|add:teams.0|add:'.svg.png' %}"
                    class="object-contain w-3/4" alt="{{teams.0}} Logo">
            </div>
            <div class="flex justify-center items-center w-36 h-36 overflow-hidden">
                <img src="{% static 'puckpuzzle/images/logos/'|add:teams.1|add:'.svg.png' %}"
                    class="object-contain w-3/4" alt="{{teams.1}} Logo">
            </div>
            <div class="flex justify-center items-center w-36 h-36 overflow-hidden">
                <img src="{% static 'puckpuzzle/images/logos/'|add:teams.2|add:'.svg.png' %}"
                    class="object-contain w-3/4" alt="{{teams.2}} Logo">
            </div>
            <div class="flex justify-center items-center w-36 h-36 overflow-hidden">
                <img src="{% static 'puckpuzzle/images/logos/'|add:teams.3|add:'.svg.png' %}"
                    class="object-contain w-3/4" alt="{{teams.3}} Logo">
            </div>
            <div class="col-span-3 row-span-3 overflow-hidden">
                <table id="board" class="w-full h-full">
                    <tr>
                        <td data-row-team="{{teams.3}}" data-col-team="{{teams.0}}" data-guesses="" data-row="0"
                            data-col="0"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                        <td data-row-team="{{teams.3}}" data-col-team="{{teams.1}}" data-guesses="" data-row="0"
                            data-col="1"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                        <td data-row-team="{{teams.3}}" data-col-team="{{teams.2}}" data-guesses="" data-row="0"
                            data-col="2"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                    </tr>
                    <tr>
                        <td data-row-team="{{teams.4}}" data-col-team="{{teams.0}}" data-guesses="" data-row="1"
                            data-col="0"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                        <td data-row-team="{{teams.4}}" data-col-team="{{teams.1}}" data-guesses="" data-row="1"
                            data-col="1"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                        <td data-row-team="{{teams.4}}" data-col-team="{{teams.2}}" data-guesses="" data-row="1"
                            data-col="2"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                    </tr>
                    <tr>
                        <td data-row-team="{{teams.5}}" data-col-team="{{teams.0}}" data-guesses="" data-row="2"
                            data-col="0"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                        <td data-row-team="{{teams.5}}" data-col-team="{{teams.1}}" data-guesses="" data-row="2"
                            data-col="1"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                        <td data-row-team="{{teams.5}}" data-col-team="{{teams.2}}" data-guesses="" data-row="2"
                            data-col="2"
                            class="border-2 border-slate-300 hover:bg-slate-200 duration-200 cursor-pointer w-36 h-36">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex justify-center items-center w-36 h-36 overflow-hidden">
                <img src="{% static 'puckpuzzle/images/logos/'|add:teams.4|add:'.svg.png' %}"
                    class="object-contain w-3/4" alt="{{teams.4}} Logo">
            </div>
            <div class="flex justify-center items-center w-36 h-36 overflow-hidden">
                <img src="{% static 'puckpuzzle/images/logos/'|add:teams.5|add:'.svg.png' %}"
                    class="object-contain w-3/4" alt="{{teams.5}} Logo">
            </div>
        </div>

        <!-- Footer -->
        <div class="absolute bottom-0 w-full bg-black text-white text-center cursor-default">
            <p>Created by MM.</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- On document load -->
    <script>
        $(document).ready(function () {
            $('#my-modal').removeClass('hidden')
            if (localStorage.getItem('score')) {
                score = Number(localStorage.getItem('score'));
                $('#score').text(score);
            } else {
                $('#score').text('9');
            }

            var correctGuesses = JSON.parse(localStorage.getItem('correctGuesses')) || [
                [[], [], []],
                [[], [], []],
                [[], [], []]
            ];
            localStorage.setItem('correctGuesses', JSON.stringify(correctGuesses));

            if (localStorage.getItem('correctGuessesLookup')) {
                // If it does exist, retrieve it and convert it back into a Set
                var correctGuessesLookup = new Set(JSON.parse(localStorage.getItem('correctGuessesLookup')));
            } else {
                // If it doesn't exist, initialize a new Set
                var correctGuessesLookup = new Set();
                // Convert the Set to an array and store it in localStorage
                localStorage.setItem('correctGuessesLookup', JSON.stringify(Array.from(correctGuessesLookup)));
            }


            var cells = $('#board td');

            // Iterate over each cell
            cells.each(function (index, cell) {
                var rowIndex = Math.floor(index / 3);
                var colIndex = index % 3;
                var playerInfo = correctGuesses[rowIndex][colIndex];

                // If there was a correct guess for this cell, repopulate it
                if (playerInfo.length !== 0) {
                    $(cell).text(playerInfo[1]);
                    $(cell).removeClass('hover:bg-slate-200');
                    $(cell).removeClass('cursor-pointer');
                    $(cell).addClass('bg-green-500');
                    $(cell).addClass('cannot-click correct');
                }
            });

            // If game over
            if ($('#score').text() <= 0) {
                $('#guess-modal').addClass('hidden');
                $('#gameover-modal').removeClass('hidden');
                $('td').addClass('cannot-click');
                $('td').removeClass('cursor-pointer hover:bg-slate-200');
                $('#my-modal').addClass('hidden');
                visualizeResults();
            }

        });
    </script>


    <!-- Show how to play modal -->
    <script>
        $('#howtoplay').on('click', function () {
            $('#my-modal').removeClass('hidden');
        });
    </script>


    <!-- Hide how to play modal -->
    <script>
        $('#howtoplayclose').on('click', function () {
            $('#my-modal').addClass('hidden');
        });

        $('#my-modal').on('click', function (event) {
            if (!$(event.target).closest('#mybox').length) {
                $('#my-modal').addClass('hidden');
            }
        });
    </script>


    <!-- Hide guess modal -->
    <script>
        $('#guessclose').on('click', function () {
            $('#guess-modal').addClass('hidden');
        });

        $('#guess-modal').on('click', function (event) {
            if (!$(event.target).closest('#guessbox').length) {
                $('#guess-modal').addClass('hidden');
            }
        });
    </script>


    <!-- Hide guess modal -->
    <script>
        $('#gameoverclose').on('click', function () {
            $('#gameover-modal').addClass('hidden');
        });

        $('#gameover-modal').on('click', function (event) {
            if (!$(event.target).closest('#gameoverbox').length) {
                $('#gameover-modal').addClass('hidden');
            }
        });
    </script>


    <!-- After box is clicked on -->
    <script>
        $("#board").on("click", "td:not(.cannot-click)", function () {
            var clickedBox = $(this);
            $('#guess-modal').removeClass('hidden');
            $('#guess-modal').data('selectedBox', clickedBox);
            $('#search').val('')
            $('#search').focus()
            $('#results').empty();
        });
    </script>


    <!-- AJAX search in guess modal -->
    <script>
        function renderResults(results, previousGuesses, correctGuessesLookup) {
            $('#results').empty();
            results.forEach(function (result) {
                var resultElem = $('<div>');
                var playerName = result['player'];
                var playerYears = result['years'];
                var playerId = result['id'];

                if (correctGuessesLookup.has(playerId)) {
                    return;
                }

                var button = $('<button>').text('Choose');
                resultElem.addClass('flex justify-between items-center mx-2 p-2');
                button.addClass('rounded-md border border-slate-300 bg-white px-4 py-2 text-black font-medium hover:invert duration-200');

                // If this player has already been guessed for the current square, mark the result as incorrect
                if (previousGuesses.includes(playerId)) {
                    resultElem.addClass('bg-red-500');
                    button.text('Incorrect');
                    button.removeClass('border hover:invert border-slate-300 bg-white');
                    button.addClass('bg-red-500');
                    button.attr('disabled', true);
                }

                var nameAndYears = $('<div>').addClass('flex flex-col text-left')
                var playerInfo = $('<p>').addClass('player-name').text(playerName);
                var playerYears = $('<p>').text(playerYears);
                playerInfo.data('id', playerId)
                playerYears.addClass('text-xs')
                nameAndYears.append(playerInfo).append(playerYears)
                resultElem.append(nameAndYears);
                resultElem.append(button);
                $('#results').append(resultElem);
            });
        }

        $('#search').on('input', function () {
            let query = $(this).val();
            selectedBox = $('#guess-modal').data('selectedBox');
            rowIndex = selectedBox.data('row');
            colIndex = selectedBox.data('col');

            var guesses = JSON.parse(localStorage.getItem('guesses')) || [
                [[], [], []],
                [[], [], []],
                [[], [], []]
            ];

            var previousGuesses = guesses[rowIndex][colIndex];
            var correctGuessesLookup = new Set(JSON.parse(localStorage.getItem('correctGuessesLookup')));

            if (query === '') {
                $('#results').empty()
            } else {
                $.ajax(
                    {
                        type: "GET",
                        url: "api/search",
                        data: {
                            q: query
                        },
                        success: function (data) {
                            $('#results').empty();
                            renderResults(data, previousGuesses, correctGuessesLookup);
                        }
                    }
                )
            }
        });
    </script>


    <!-- When a user guesses a player -->
    <script>
        // Creating grid for the end result grid
        function visualizeResults() {
            var resultGrid = $('#result-grid');
            var correctGuesses = JSON.parse(localStorage.getItem('correctGuesses'));

            var correct = 0;
            for (let i = 0; i < correctGuesses.length; i++) {
                for (let j = 0; j < correctGuesses[i].length; j++) {
                    if (correctGuesses[i][j].length !== 0) {
                        correct++;
                        var cell = $('#board td').eq(i * 3 + j);
                        var resultCell = $(resultGrid.children()[i * 3 + j]);
                        cell.addClass('bg-green-500');
                        cell.removeClass('hover:bg-slate-200 cursor-pointer');
                        resultCell.addClass('bg-green-500');
                        resultCell.removeClass('bg-slate-300');
                    }
                }
            }
            $($('#finalscore').children()[1]).text(correct + '/9');
        }


        $('#results').on('click', 'button', function () {
            var button = $(this);
            var playerName = $(this).siblings('div').children('.player-name').text();
            var playerId = $(this).siblings('div').children('.player-name').data('id');
            var selectedBox = $('#guess-modal').data('selectedBox');

            row = selectedBox.data('row-team');
            col = selectedBox.data('col-team');

            rowIndex = selectedBox.data('row');
            colIndex = selectedBox.data('col');

            var guesses = JSON.parse(localStorage.getItem('guesses')) || [
                [[], [], []],
                [[], [], []],
                [[], [], []]
            ];
            var correctGuesses = JSON.parse(localStorage.getItem('correctGuesses'));
            var correctGuessesLookup = new Set(JSON.parse(localStorage.getItem('correctGuessesLookup')));

            $.ajax({
                type: "GET",
                url: "api/check",
                data: {
                    player: playerId,
                    row: row,
                    col: col
                },
                success: function (data) {
                    if (data['result']) {
                        selectedBox.text(playerName);
                        selectedBox.removeClass('hover:bg-slate-200');
                        selectedBox.removeClass('cursor-pointer');
                        selectedBox.addClass('bg-green-500');
                        selectedBox.addClass('cannot-click correct');
                        guesses[rowIndex][colIndex] = [];
                        correctGuesses[rowIndex][colIndex] = [playerId, playerName];
                        correctGuessesLookup.add(playerId);
                        localStorage.setItem('guesses', JSON.stringify(guesses));
                        localStorage.setItem('correctGuesses', JSON.stringify(correctGuesses));
                        localStorage.setItem('correctGuessesLookup', JSON.stringify(Array.from(correctGuessesLookup)));
                        $('#guess-modal').addClass('hidden');
                    } else {
                        button.parent().addClass('bg-red-500');
                        button.text('Incorrect');
                        button.removeClass('hover:invert border border-slate-300 bg-white');
                        button.addClass('bg-red-500');
                        button.attr('disabled', true);

                        guesses[rowIndex][colIndex].push(playerId);
                        localStorage.setItem('guesses', JSON.stringify(guesses));
                    }
                }
            });


            // Decrease score
            var score = Number($('#score').text());
            score -= 1;
            localStorage.setItem('score', score);
            $('#score').text(score);


            // If game over
            if ($('#score').text() <= 0) {
                $('#guess-modal').addClass('hidden');
                $('#gameover-modal').removeClass('hidden');
                $('td').addClass('cannot-click');
                $('td').removeClass('cursor-pointer hover:bg-slate-200');
                visualizeResults();
            }
        });
    </script>


</body>


</html>